.column_click:hover {
	 -webkit-box-shadow: inset 0px 1.5px 9px -1px rgba(0, 0, 0, 0.51);
	 -moz-box-shadow: inset 0px 1.5px 9px -1px rgba(0, 0, 0, 0.51);
	 box-shadow: inset 0px 1.5px 9px -1px rgba(0, 0, 0, 0.51);
	 cursor: pointer;
	 background-color: #eee;
}
 