@font-face {
	font-family: 'icomoon';
	src: url("../fonts/icomoon/icomoon.eot?srf3rx");
	src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
  }
  /* =======================================================
  *
  * 	Template Style 
  *	Edit this section
  *
  * ======================================================= */

 

  
  #fh5co-intro {
	background: #fff;
	position: relative;
	bottom: 0;
	margin-top: -150px;
	z-index: 10;
	padding-bottom: 7em;
  }
  @media screen and (max-width: 768px) {
	#fh5co-intro {
	  padding-bottom: 3em;
	}
  }
  #fh5co-intro > div {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
  }
  #fh5co-intro .fh5co-block {
	width: 33.33%;
	float: left;
	text-align: center;
	font-size: 16px;
	min-height: 300px;
	vertical-align: middle;
	padding: 40px;
	background: #fff;
	-webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
	-moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
	-ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
	-o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
	box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
	z-index: 7;
	flex-grow: 1;
	background-size: cover;
	position: relative;
	backgroun-repeat: no-repeat;
  }
  @media screen and (max-width: 768px) {
	#fh5co-intro .fh5co-block {
	  width: 100%;
	}
  }
  #fh5co-intro .fh5co-block > .overlay-darker {
	z-index: 8;
	opacity: .5;
	background: #474747;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
  }
  #fh5co-intro .fh5co-block > .overlay {
	background: #fff;
	opacity: 1;
	z-index: 9;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
  }
  #fh5co-intro .fh5co-block > .fh5co-text {
	position: relative;
	z-index: 10;
  }
  #fh5co-intro .fh5co-block > .fh5co-text .fh5co-intro-icon {
	font-size: 50px;
	color: #52d3aa;
	margin-bottom: 30px;
	display: block;
  }
  #fh5co-intro .fh5co-block h2 {
	font-size: 24px;
	font-weight: 400;
  }
  #fh5co-intro .fh5co-block:hover > .overlay, #fh5co-intro .fh5co-block:focus > .overlay {
	opacity: 0;
	z-index: 9;
  }
  #fh5co-intro .fh5co-block:hover > .fh5co-text, #fh5co-intro .fh5co-block:focus > .fh5co-text {
	color: #fff;
  }
  #fh5co-intro .fh5co-block:hover > .fh5co-text .fh5co-intro-icon, #fh5co-intro .fh5co-block:focus > .fh5co-text .fh5co-intro-icon {
	color: #fff;
  }
  #fh5co-intro .fh5co-block:hover h2, #fh5co-intro .fh5co-block:focus h2 {
	color: #fff;
  }
  #fh5co-intro .fh5co-block:hover .btn, #fh5co-intro .fh5co-block:focus .btn {
	border: 2px solid #fff !important;
	background: transparent;
  }
  #fh5co-intro .fh5co-block:hover .btn:hover, #fh5co-intro .fh5co-block:focus .btn:hover {
	background: #52d3aa !important;
	border: 2px solid #52d3aa !important;
  }
  
 
  
  
  
  .btn {
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
  }
  .btn:hover, .btn:active, .btn:focus {
	outline: none;
  }
  
  
  
  
  
  .btn {
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
  }
  .btn.btn-primary {
	background: #52d3aa;
	color: #fff;
	border: none !important;
	border: 2px solid transparent !important;
  }
  .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
	box-shadow: none;
	background: #52d3aa;
  }
  .btn:hover, .btn:active, .btn:focus {
	background: #393e46 !important;
	color: #fff;
	outline: none !important;
  }
  .btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
	border-color: transparent;
  }
  
 
 

 