.controls{
  list-style: none;
  width: 100%;
  height: fit-content;
  padding: 0 2.4vw;
  position: absolute;
  left: 0;
  top: calc(7.5vh + 507px);
}
.progressid{
  width: 880px!important;
}
.controls li{
  display: inline;
  padding: 0;

  height: fit-content;
  box-shadow: none;
}

.controls button{
  padding: 0;
  height: fit-content;
  box-shadow: none;
  background-color: inherit;
  border: none;
}
.progress{cursor: grab;
  display: block!important;
}
.positioner{
  
  padding: 0 256px!important;
  
}